 .u-section-1 {
  min-height: 1337px;
}

.u-section-1 .u-image-1 {
  min-height: 753px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -200px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/istockphoto-1372305076-1024x1024.jpg");
}

.u-section-1 .u-container-layout-1 {
  padding: 0px;
}

.u-section-1 .u-group-2 {
  --radius: 30px;
  min-height: 337px;
  height: auto;
  width: 565px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 230px auto 0 -1px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -515px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 329px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  box-shadow: none;
  padding: 41px 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 39px auto 0 -18px;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0 -19px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 770px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-group-3 {
  --radius: 30px;
  min-height: 194px;
  height: auto;
  width: 327px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 18px auto 0 39px;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  margin: 50px 30px 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  line-height: 0.8;
  font-size: 3.75rem;
  margin: 19px 60px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 3rem;
  margin: -67px -41px 0 101px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 726px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-6 {
  padding: 105px 0 0;
}

.u-section-1 .u-form-1 {
  background-image: none;
  height: 468px;
  --radius: 30px;
  margin: 0;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  --radius: 30px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  --radius: 30px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  --radius: 30px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  --radius: 30px;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  --radius: 30px;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-input-6 {
  --radius: 30px;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  background-image: none;
  --radius: 30px;
  border-style: solid;
  width: 100%;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 836px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%, 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 271px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 635px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 599px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 437px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 3px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 537px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 25px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding: 25px;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.6666666666666665rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}
:root{
  --container-width:700px;
  --container-height:700px;
  --meter-scale:1;
}


@font-face {
  font-family: "trebuc";
  src: url("./trebuc.ttf");
}

*{
  font-family:"trebuc";
  color: #000000;
  font-weight: bolder;
}

.range-text{
  font-size: 10px;
  position:absolute;
  text-transform: uppercase;
}

.range-text-1{
  left: 27px;
  top: 220px;
}

.range-text-2{
  left: 85px;
  top: 155px;
}

.range-text-3{
  left: 50%;
  top: 122px;
  transform: translateX(-50%);
}

.range-text-4{
  right: 85px;
  top: 155px;
}

.range-text-5{
  right: 27px;
  top: 220px;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.transparent-cyan {
  width: calc(100% -0px); /* Leaves a 20px gap on both sides */
  height: 1px; /* Adjust as needed */
  background-color: rgba(154, 220, 220, 0.5); /* Cyan with 50% transparency */
  margin: 0 auto; /* Centers the div */
}

.u-align-left {
  text-align: left!important;  /* Aligns text to the left */
}

.u-text-1 {
  margin-left: -600px!important; /* Shift heading to the left by removing margin */
  padding-left: 0px!important; /* Removes padding if any */
}

.u-text-2 {
  margin-left: -600px!important; /* Shift heading to the left by removing margin */
  padding-left: 0px!important; /* Removes padding if any */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 30px;
}

.box {
  max-width: 70%;
  margin: auto;
  margin-top: -500px;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.skillbox {
  margin-bottom: 20px;
}

.skillbox p {
  margin: 0 0 5px;
  font-weight: bold;
}

.skill {
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
  height: 25px;
}

.level {
  height: 100%;
  width: 0%;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.button-51 {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 10px;
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }
}